parameters:
    locale: fr
    secret: Pl3as3Chang3Th1sS3cr3tT0k3n
    database_password: test
    use_assetic_controller: false
    use_assetic_debug: false
    sass.bin: /usr/bin/sass
    ruby.bin: /usr/bin/ruby
    compass.bin: /usr/bin/compass