parameters:
    database_driver: pdo_mysql
    database_host: mysql
    database_port: 3306
    database_name: test_database
    database_user: root
    database_password: root

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    locale: fr
    secret: ThatsChapleanSocialButtonsBun2le

    data_fixtures_namespace: false

    use_assetic_controller: false

    sass.bin: /usr/local/bin/sass
    compass.bin: /usr/local/bin/compass
    ruby.bin: /usr/bin/ruby
