{% if (url is not defined or url == null) and app.request.uri is defined %}
    {% set url = app.request.uri %}
{% elseif url is empty %}
    {% set url = '' %}
{% endif %}

{% spaceless %}
    {#<a class="btn btn-social-icon btn-google">#}
        {#<i class="fa fa-google-plus"></i>#}
    {#</a>#}
 <div class="g-plusone" data-href="{{url}}"></div>

 <script type="text/javascript">
   window.___gcfg = {lang: '{{locale}}'};

   (function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/plusone.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
   })();
 </script>

{% endspaceless %}