@import "../libs/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import "../libs/font-awesome/scss/font-awesome";
@import "../libs/bootstrap-social/bootstrap-social";

.btn-share {
    border-radius: 2px;
    height: 25px;
    width: 25px;

    i {
        font-size: 1.3em !important;
        margin-top: -4px;
    }
}

.btn-share-twitter {
    @extend .btn;
    @extend .btn-social-icon;
    @extend .btn-twitter;
    @extend .btn-share;

    i {
        @extend .fa;
        @extend .fa-twitter;
    }
}

.btn-share-facebook {
    @extend .btn;
    @extend .btn-social-icon;
    @extend .btn-facebook;
    @extend .btn-share;

    i {
        @extend .fa;
        @extend .fa-facebook;
        margin-top: -3px;
    }
}

.btn-share-googleplus {
    @extend .btn;
    @extend .btn-social-icon;
    @extend .btn-google;
    @extend .btn-share;

    i {
        @extend .fa;
        @extend .fa-google-plus;
        margin-top: -3px;
    }
}

.btn-share-linkedin {
    @extend .btn;
    @extend .btn-social-icon;
    @extend .btn-linkedin;
    @extend .btn-share;

    i {
        @extend .fa;
        @extend .fa-linkedin;
    }
}

.btn-share-youtube {
    @extend .btn;
    @extend .btn-social-icon;
    @extend .btn-google;
    @extend .btn-share;

    i {
        @extend .fa;
        @extend .fa-youtube;
    }
}